<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Untitled Document</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>
    {{ 23 + 89 }}
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/satellizer/satellizer.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
</body>
</html>